.card {
  width: 150px;
  height: 70%;
  color: white;
  background: rgba(2, 31, 161, 0.7);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black solid 4px;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  img {
    width: 120px;
    height: 150px;
  }
  p {
    padding: 10px 0 0 0;
    margin: 0;
  }
}
