<nav class="mail-nav">
  <ul #myNameElem (click)="changePage($event)">
    <li
      routerLink="/main/lonely-island-bay"
      routerLinkActive="active"
      style="border-bottom: none"
    >
      Бухта одинокого острова
    </li>
    <li routerLink="/main/my-ship" routerLinkActive="active">Мой корабль</li>
  </ul>
</nav>
<main class="main">
  <aside class="aside">
    <table class="table">
      <tr class="section">
        <td>Мин. цена <input type="number" /></td>
        <td>Макс. цена <input type="number" /></td>
      </tr>
      <tr>
        <td>Мин. прочность <input type="number" /></td>
        <td>Макс. прочность <input type="number" /></td>
      </tr>
    </table>
    <div class="choice-section">Паруса</div>
    <div class="choice-section">Пушки</div>
  </aside>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
